body {
  background: #eee;
  text-align: center;
  padding: 0 25px;
  font-family: arial, sans-serif;
}

#main {
  width: 500px;
  margin: auto;
  text-align: left;
  background: white;
  padding: 50px 60px;
  border: solid #ddd;
  border-width: 0 1px 1px 1px;
}

#main h1 {
  margin-top: 0;
  font-size: 35px;
  margin-bottom: 5px;
  padding: 5px;
}

#main h1 span {
  font-style:italic;
}

#main ul {
  padding-left: 20px;
}

#main .error {
  border: 1px solid red;
  background: #FDEFF0;
  padding: 20px;
}

#main .success {
  margin-top: 25px;
}

#main .success code {
  font-size: 12px;
  color: green;
  line-height: 13px;
}

form {
  padding: 10px 20px 20px 0;
}

form input[type=text] {
  margin-right: 10px;
  width: 70%;
  font-size: 12px;
  padding: 5px;
}

.chat {
  padding: 5px;
  margin-bottom: 5px;
  background-color: #eee;   
  word-wrap: break-word; 
}

.chat .username {
  font-weight: 800;
}

.chat:hover {
  background-color: #ddd;
}

.spinner {
  float: right;
  height: 46px;
  margin-bottom: 5px;
}

.spinner img {
  padding: 10px;
}

.updates {
  margin-bottom: 2%;
  margin-top: 3%;
}

input.roomField[type = text] {
  width: 20%;
}

a.username, a.username:visited {
  color: #6ecce7;
  text-decoration: none;
}

.friends {
  position: fixed;
  top: 1em;
  left: 1em;
}
